<h1>Bienvenue dans votre espace de gestion</h1> <br>
<h2>Que voulez vous faire ?</h2><br><br>
<button>Gestion des missions</button><br><br>
<button>Gestion des cibles</button><br><br>
<button>Gestion des contacts</button><br><br>
<button>Gestion des agents</button><br><br>
<button>Gestion des planques</button><br><br>
<button>Gestion des types de mission</button><br><br>
<button>Gestion des spécialités</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-country'">Gestion des pays</button><br><br>
<button onclick="location.href='{{ base_url }}/admin/manage-status'">Gestion des statuts</button>