<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<a href="{{base_url}}">Accueil</a> 		<a href="./admin">Admin</a> <br><br>

		<h1>L'agency - Missions freelance impactantes</h1>
		<form id='filters-form'>
			<select name="country" id="country">
				<option value="">Pays</option>
			</select>

			<select name="type" id="type">
				<option value="">Type</option>
			</select>

			<select name="speciality" id="speciality">
				<option value="">Spécialité</option>
			</select>

			<select name="status" id="status">
				<option value="">Statut</option>
			</select>

			<select name="agent" id="agent">
				<option value="">Agent</option>
			</select>

			<button type="submit">Filtrer</button>

		</form>

		<button id='recuperer-toutes-donnees'>Reset</button>

		<form id='search-form'>
			<input type="text" name='search'>
			<button type="submit">search</button>

		</form>

		<div id="missions-container"></div>

	</body>
	<script src="./public/js/home.js"></script>

</html>
